<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{cliente.cadastrar.label}">Cadastrar Cliente</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/clientes/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{cliente.listar.label}">Listar Clientes</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
				th:object="${cliente}" method="POST">
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="name" th:text="#{cliente.name.label}">Name</label> 
						<input type="text" class="form-control" id="name" 
							autofocus="autofocus" th:field="*{name}"
							th:classappend="${#fields.hasErrors('name')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{name}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="CPF" th:text="#{cliente.CPF.label}">CPF</label> 
						<input type="text" class="form-control" id="CPF" placeholder="___.___.___-__"
							autofocus="autofocus" th:field="*{CPF}"
							th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" 
							data-mask="000.000.000-00" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{CPF}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="email" th:text="#{cliente.email.label}">Email</label> 
						<input type="email" class="form-control" id="email" placeholder="xxxx@email.com"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>
			
						<div class="form-group col-md-6">
							<label for="password" th:text="#{cliente.senha.label}">Senha</label> 
							<input type="password" class="form-control" id="password"
								autofocus="autofocus" th:field="*{password}"
								th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>
							                               
							<div class="invalid-feedback">
								<span th:errors="*{password}"></span>
							</div>
						</div>
	
					
					

					<div class="form-group col-md-6">
						<label for="telefone" th:text="#{cliente.telefone.label}">Telefone</label> 
						<input type="text" class="form-control" id="telefone" placeholder="XX X XXXX-XXXX"
							autofocus="autofocus" th:field="*{telefone}"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
							data-mask="00 0 0000-0000" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="sexo" th:text="#{cliente.sexo.label}">Sexo</label> 
						<input type="text" class="form-control" id="sexo"
							autofocus="autofocus" th:field="*{sexo}"
							th:classappend="${#fields.hasErrors('sexo')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{sexo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="dataNasc" th:text="#{cliente.data.label}">Data de Nascimento</label> 
						<input type="text" class="form-control" id="dataNasc" placeholder="dd/mm/yyyy"
							autofocus="autofocus" th:field="*{dataNasc}"
							th:classappend="${#fields.hasErrors('dataNasc')} ? is-invalid"
							data-mask="00/00/0000" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{dataNasc}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="papel" th:text="#{cliente.papel.label}">Papel</label> 
						<select name="papel" class="form-control" id="papel">
							<option value="Cli">Cliente</option>
							<option value="Adm">Admin</option>
						</select>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm" th:text="#{button.salvar.label}">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>



