body{
	margin:0;
}

.nav{
	display:flex;
	height:3.2rem;
	background: #342C49;
	color: white;
	justify-content:center;
	align-items:center;
	
	margin:0;
}
.nav a{
	justify-self:flex-end;
}
.btns-sup{
	margin-top:100px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.btns{
	display:flex;
	justify-items:center;
	align-items:center;
	gap:3rem;
	
	
}
.btn{
	width:10rem;
	height:5rem;
	background:#1D1927;
	color:#FCF7FF;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:10px;
	font-size:0.8rem;
}
.none{
	display:none;
}
h2{
	margin-left:20px;	
}
a{
	text-decoration:none;
}
.extremos{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
	margin-top:10px;
}


.extremos .btn{
	margin-right:20px;
}

.btn-home .btn{
	margin-left:20px;
	margin-bottom:30px;
}

.consulta{
	margin-left:20px;
	font-size:1rem;
	margin-bottom:10px;
	font-weight:bold;
}

.recuo{
	margin-left:20px;
}
.recuo a{
	font-size:1.2rem;
}

