<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />

<title th:text="#{title.text}"></title>
</head>

<body>

	<header th:replace="fragments/header :: header">
		<div>header</div>
	</header>

	<div>
		<h1 th:text="#{project.title}"></h1>
		<span th:text="${#dates.format(date)}"></span>
	</div>

	<footer th:replace="fragments/footer :: footer">
		<div>footer</div>
	</footer>
	
</body>

</html>
